@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* LES VARIABLES DE COULEURS */
:root {
  --main_white: #f2f5de;
  --main_black: #291f1e;
  --CTA_btn: #f64740;
  --text_theme: #70877f;
}
/* FIN DES VARIABLES DE COULEUR */

/* BODY */
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif !important;
}

/* ---------------HEADER------------- */
header {
  background-color: var(--main_black);
  color: var(--main_white);
}
/* NAV CONTAINER */
.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  border-bottom: 1.5px solid var(--main_white);
}

.nav_container .nav_icone .fa-times {
  display: none;
}

.nav_container ul a {
  color: var(--text_theme);
  text-decoration: none;
}

.nav_container nav {
  padding: 8px;
  position: absolute;
  width: 100%;
  background-color: var(--main_white);
  top: 50px;
  /* right: 0; */
  right: -102%;
  transition: 0.4s ease-in;
  z-index: 999;
}

.nav_container nav ul {
  padding: 0;
  margin: 0;
}

.nav_container ul li {
  padding: 10px 0;
  list-style-type: none;
  border-top: 1.5px solid var(--CTA_btn);
}
.nav_container ul a:last-child li {
  border-bottom: 1.5px solid var(--CTA_btn);
}

.nav_container .profile_icone {
  cursor: pointer;
}

/* FIN NAV CONTAINER */
/* LOGO CONTAINER */
.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}

.logo_container img {
  width: 60px;
  height: 45px;
  border-radius: 50%;
}

.logo_container h1 {
  font-size: 24px;
  margin-left: 8px;
  margin-bottom: 0;
}
/* FIN LOGO CONTAINER */
/* BAR DE RECHERCHE */
.input-group {
  width: 100%;
  margin: 0 auto;
  padding: 24px;
}
/* FIN BAR DE RECHERCHE */
/* ---------------FIN HEADER------------- */
/* ---------------MAIN------------------- */
/* SECTION NOUVEAUTES */
.main_nouveautes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main_black);
}

.main_nouveautes h2 {
  font-weight: bold;
  font-size: 20px;
  padding: 12px 0;
  margin-bottom: 0;
}

.nouveautes_content {
  background: var(--main_white);
}

.main_nouveautes .nouveautes_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main_nouveautes .nouveautes_content .book_title h3 {
  font-size: 16px;
  text-decoration: underline;
  margin: 8px 0;
}

.main_nouveautes .nouveautes_content .book {
  margin: 8px;
  display: grid;
  grid-template-columns: 3fr, 1fr;
  grid-gap: 8px;
}

.main_nouveautes .nouveautes_content .book_info {
  grid-column: 1/2;
  font-size: 14px;
}
.main_nouveautes .nouveautes_content .book_info span {
  font-weight: bold;
  font-style: oblique;
}

.main_nouveautes .nouveautes_content .book_img {
  grid-column: 2/3;
  display: flex;
  align-items: center;
}

.main_nouveautes .nouveautes_content .book_img img {
  width: 100%;
}

/* SEPARATEURS */
.separateur {
  width: 100%;
  height: 25px;
  position: relative;
  display: flex;
  margin: 10px 0;
}

.separateur::after,
.separateur::before {
  content: "";
  position: absolute;
  margin: auto;
  height: 2px;
  width: 45%;
  border: 0.5px solid var(--text_theme);
  background-color: var(--text_theme);
  top: 45%;
}

.separateur::after {
  right: 0;
}

.separateur .cercle {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border: 0.5px solid var(--text_theme);
  border-radius: 50%;
}

.separateur .diamand {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border: 0.5px solid var(--text_theme);
  transform: rotate(45deg);
}
/* FIN SEPARATEURS */

/* FIN SECTION NOUVEAUTES */
/* ---------------FIN MAIN--------------- */
